.headerCartButton {
    border: 2px solid orange;
    border-radius: 5px;
    color: rgb(238, 252, 90);
    align-items: center;
}

.headerCartButton span {
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}